.homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, #4f95d3 10%, #1c1ec7 90%); 
    /* background-color: #1c1ec7; */
}

.move-text{
    right: 50%;
    font-size: 2rem;
    font-weight: bold;
    animation: moveText 2s  infinite alternate-reverse;
    color: #173556c9;
    margin: 40px;
}

@keyframes moveText {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-50px); /* Move left */
    }
    100% {
      transform: translateX(50px); /* Move right */
    }
  }
  
