.body {
    width: 100%;     
    min-height: 100vh; 
    margin: 0;
    display: flex;
    justify-content: center; 
    background: linear-gradient(to bottom, #00115c 10%, #000000 90%);
}

.ongoing {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    margin: 100px auto;
    padding: 20px;
    width: 100%; 
    max-width: 1200px; 
    box-sizing: border-box; 
}

.MuiDataGrid-root {
    background-color: #fffbfb;
    border-radius: 10px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    overflow-x: auto; 
}

@media (max-width: 768px) {
    .ongoing {
        margin: 50px 10px; 
    }
}

.pay-button{
    background-color: #064dd1;
    font-size: 15px;
}