.body {
    width: 100%;     
    min-height: 100vh; 
    margin: 0;
    display: flex;
    justify-content: center; 
    background: linear-gradient(to bottom, #00115c 10%, #000000 90%);
}

.ongoing {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    margin: 100px auto;
    padding: 20px;
    width: 100%; 
    max-width: 1200px; 
    box-sizing: border-box; 
}

.MuiDataGrid-root {
    background-color: #fffbfb;
    border-radius: 10px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    overflow-x: auto; 
}

@media (max-width: 768px) {
    .ongoing {
        margin: 50px 10px; 
    }
}

.pay-button{
    background-color: #064dd1;
    font-size: 15px;
}


.MuiDialog-paper {
    padding: 20px;
    max-width: 600px; 
    margin: 0 auto;
}

.MuiDialogTitle-root {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.MuiDialogContent-root {
    display: flex;
    flex-direction: column;
    gap: 15px;  
}

.MuiDialogActions-root {
    justify-content: center;  
    margin-top: 20px;
}

.pay-button {
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}



.MuiDialogContentText-root {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

.MuiDialogContentText-root strong {
    font-weight: bold;
    color: #000;
}
