h2{
    color: white;
}
.cuisine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  button {
    background-color: #2632bca0;
    padding: 10px 20px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    animation: pop 0.3s ease-in-out;
    transform-origin: center;
    transition: transform 0.2s;
  }
  
  button:hover {
    transform: scale(1.05); 
  }
  
  /* Pop animation */
  @keyframes pop {
    0% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .cuisine ul {
    display: flex;
    flex-wrap: wrap;
    color: white;
    gap: 20px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    visibility: hidden;
  }
  
  .cuisine ul.visible {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
  
  .cuisine ul.hidden {
    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden;
  }
  
  
.flex-item{
    flex: 1 1 25%;
    box-sizing: border-box;
}